.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #71e96c, #224715); /* Example background color */
    color: white;
    position: relative; /* Ensure the header is on top */
    z-index: 1; /* Ensure the header is on top */
    opacity: 70%;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: bold;
    
}

.header-right {
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}
