body {
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 8, 6, 0.6); /* Black with 50% opacity */
    display: flex;
    justify-content: center; /* Center the entire content horizontally */
    align-items: center; /* Center the entire content vertically */
    padding: 10px;
}

.signin1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust based on the height of your header */
    width: 100%;
}

.signin1 h2 {
    background-color: #8CF07C; /* Background color for the heading */
    color: rgb(255, 255, 255); /* Text color */
    padding: 2px; /* Padding inside the heading */
    border-radius: 8px; /* Optional: rounded corners */
    display: inline-block; /* To fit the background to the text */
    font-size: 20px;
    width: 200px;
    z-index: 100;
    text-align: center;
    font-weight: 500;
}

.predict-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-container1 {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    gap: 20px; /* Add some space between the form columns */
    margin-top: 0px;
    border-radius: 5px;
    width: 100%; /* Ensure it takes full width */
    max-width: 800px; /* Optional: set a max width for the form container */
}

.form-column {
    padding: 30px;
    flex: 1; /* Allow each column to take equal space */
    max-width: 400px; /* Optional: set a max width for each column */
    background-color: #9fd796;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 50px;
}

.form-group {
    display: flex;
    justify-content: space-between; /* Space between label and input */
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 10px; /* Adjust the spacing between label and input */
    color: #fff; /* Adjust color to match your theme */
    white-space: nowrap; /* Prevent label text from wrapping */
    flex: 0 0 150px; /* Fixed width for labels */
}

.form-group input {
    flex: 1; /* Allow input to take the remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
